<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer class="pt-4 mt-md-5 py-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/images/Full_Name500pxWhite.png" class="img-fluid" width="200"
                    alt="Haggerty Construction's logo.">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="mb-3 d-inline-block"><h5 class="animated-underline mb-0">Contact Us</h5></div>
                <p>
                    <a href="tel:+14354141974" class="link-light">Phone: (435) 414 - 1974</a><br>
                    <span class="text-light">Email: info@haggertyutah.com</span>
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <div class="mb-3 d-inline-block"><h5 class="animated-underline mb-0">Quick Links</h5></div>
                <ul class="list-unstyled">
                    <li><a href="/gallery" class="link-light">Gallery</a></li>
                    <li><a href="#services" class="link-light">Services</a></li>
                    <li><a href="#about-us-section" class="link-light">About Us</a></li>
                    <li><a href="#contact" class="link-light">Request an Estimate</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <div class="mb-3 d-inline-block"><h5 class="animated-underline mb-0">Follow Us</h5></div>
                <br>
                <a href="https://www.facebook.com/HaggertyUtah/" target="_blank" class="social-icon d-block mb-1 link-light">Facebook</a>
                <a href="https://www.instagram.com/haggerty.construction/" target="_blank"
                    class="social-icon d-block link-light">Instagram</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <small class="text-muted">This website was designed, developed and delivered by <a
                        href="https://blue-bear-consulting.netlify.app/" target="_blank" class="text-muted">Blue Bear Consulting</a> in St. George, Utah.</small>
            </div>
        </div>
    </div>
</footer>